{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">板块</li>
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Board</td>
      <th>Posts</td>
      <th>Topics</td>
      <th>Last Post</td>
    </tr>
  </thead>
    <tbody>
	{% for board in all_boards_list %}
    <tr>
        <td><a href="{% url 'boards:topic' board.id %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small></td>
      <td class="align-middle">{{ board.get_post_count }}</td>
      <td class="align-middle">{{ board.topics.count }}</td>
      <td class="align-middle">
          {% with post=board.get_last_post %}
              {% if post %}
          <small>
          <a href="{% url 'boards:topic_posts' board.id post.topic.id %}">
              By {{ post.created_by.username }} at {{ post.created_at }}
          </a>
          </small>
              {% else %}
              <small class="text-muted"><em>No Posts yet.</em></small>
              {% endif %}
          {% endwith %}
      </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}